@font-face {
    font-family: 'RedDeadFont';
    src: url('Redemption.ttf') format('truetype'); /* Adjust the path to your actual font file */
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'RedDeadFont';
    margin: 0;
    padding: 0;
}

.notification-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background: url('path/to/your/background-image.jpg') center/cover no-repeat;
    position: relative;
}

.notification-icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.notification-text {
    color: #fff;
    font-size: 32px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    white-space: pre-line; /* or white-space: pre-wrap; */
}
